{{#each posts}}
	<div class='card m-5 w-75 mx-auto' id={{id}} style='width: 18rem;' data-bs-toggle="modal" data-bs-target="#viewMoreModal">
		<div class='card-body'>
			<h5 class='card-title'>{{title}}</h5>
			<h6 class='card-subtitle mb-2 text-muted'>Posted by {{user.username}} on {{format_date createdAt}}</h6>
			<p class='card-text'>{{content}}</p>
		</div>
	</div>
{{/each}}

{{!-- modal for specific blog post --}}

<div class="modal" id="viewMoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<p class="py-3" id="postContent"></p>
		<div class="py-1 list-group" id="comments"></div>
		{{#if logged_in}}
		<hr>
        <form>
          <div class="mb-3">
            <label for="comment" class="col-form-label">Comment</label>
            <textarea class="form-control" id="comment"></textarea>

			<button type="button" class="btn btn-primary w-100 my-2" id="submit">Submit</button>
          </div>
		</form>
		{{/if}}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script>dayjs().format()</script>